# Working with our Dataset

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /Users/shivanshu_ade/Documents/anaconda3/envs/mp-env/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in /Users/shivanshu_ade/Documents/anaconda3/envs/mp-env/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shivanshu_ade/Documents/anaconda3/envs/mp-env/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/shivanshu_ade/Documents/anaconda3/envs/mp-env/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/shivanshu_ade/Documents/anaconda3/envs/mp-env/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/shivanshu_ade/Documents/anaconda3/envs/mp-env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("bmh")

In [5]:
data = pd.read_csv("visionarm_dataset.csv")
data.head()

,left_thumb,left_index,left_middle,left_ring,left_pinky,right_thumb,right_index,right_middle,right_ring,right_pinky,target
0,0,0,1,1,1,0,0,0,0,0,invalid
1,1,1,1,1,1,0,0,0,0,0,grab
2,1,1,1,1,1,0,1,1,1,1,right
3,1,1,1,1,1,0,1,1,0,0,down
4,1,1,1,1,1,0,1,1,1,1,right

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   left_thumb    2000 non-null   int64
 1   left_index    2000 non-null   int64
 2   left_middle   2000 non-null   int64
 3   left_ring     2000 non-null   int64
 4   left_pinky    2000 non-null   int64
 5   right_thumb   2000 non-null   int64
 6   right_index   2000 non-null   int64
 7   right_middle  2000 non-null   int64
 8   right_ring    2000 non-null   int64
 9   right_pinky   2000 non-null   int64
 10  target        2000 non-null   object
dtypes: int64(10), object(1)
memory usage: 172.0+ KB

## Dealing with Missing values-
- We do not have any missing values in our data.
- However if we get any missing data values while real-time detection, we will impute it with 0 using imputer so that it becomes invalid and the robotic arm won't perform any operation.

In [9]:
label_count = data['target'].value_counts()
label_count

target
invalid    600
grab       200
right      200
down       200
stop       200
left       200
drop       200
up         200
Name: count, dtype: int64

- Since we manually created our dataset I ensured that the 'invalid' label gets more samples because it has the most diverse combination set of data entries for each features

In [1]:
import json

# Load metadata file
with open("metadata.json", "r") as f:
    metadata = json.load(f)

# Access specific details
print("Dataset Name:", metadata["dataset_name"])
print("Version:", metadata["version"])
print("Total Samples:", metadata["num_samples"])
print("Labels:", metadata["target_labels"])
print("Feature Mapping (Example):", metadata["field_mapping"]["left_thumb"])

Dataset Name: visionarm_dataset
Version: v1.0
Total Samples: 2000
Labels: ['stop', 'grab', 'drop', 'up', 'down', 'left', 'right', 'invalid']
Feature Mapping (Example): Left hand thumb (1=raised, 0=closed)